[data-simplebar] {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.simplebar-wrapper {
    overflow: hidden;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
}

.simplebar-mask {
    direction: inherit;
    position: absolute;
    overflow: hidden;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto !important;
    height: auto !important;
    z-index: 0;
}

.simplebar-offset {
    direction: inherit !important;
    box-sizing: inherit !important;
    resize: none !important;
    position: absolute;
    top: -28px;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
    direction: inherit;
    box-sizing: border-box !important;
    position: relative;
    display: block;
    height: 100%;
    /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
    width: auto;
    /* visibility: visible; */
    max-width: 100%;
    /* Not required for horizontal scroll to trigger */
    max-height: 100%;
    /* Needed for vertical scroll to trigger */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
    content: ' ';
    display: table;
}

.simplebar-placeholder {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
    box-sizing: inherit !important;
    height: 100%;
    width: 100%;
    max-width: 1px;
    position: relative;
    float: left;
    max-height: 1px;
    overflow: hidden;
    z-index: -1;
    padding: 0;
    margin: 0;
    pointer-events: none;
    flex-grow: inherit;
    flex-shrink: 0;
    flex-basis: 0;
}

.simplebar-height-auto-observer {
    box-sizing: inherit;
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 1000%;
    width: 1000%;
    min-height: 1px;
    min-width: 1px;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}

.simplebar-track {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events: none;
    overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
    pointer-events: all;
}

.simplebar-scrollbar {
    position: absolute;
    right: 2px;
    width: 4px;
    min-height: 10px;
}

.simplebar-scrollbar:before {
    position: absolute;
    content: '';
    background: #adafca;
    border-radius: 7px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
    /* When hovered, remove all transitions from drag handle */
    opacity: .4;
    transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
    top: 0;
    width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 2px;
    bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
    left: 0;
    height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
    height: 100%;
    left: 2px;
    right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    right: auto;
    left: 0;
    top: 2px;
    height: 7px;
    min-height: 0;
    min-width: 10px;
    width: auto;
}

/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
    right: auto;
    left: 0;
}

.hs-dummy-scrollbar-size {
    direction: rtl;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    height: 500px;
    width: 500px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.simplebar-hide-scrollbar {
    position: fixed;
    left: 0;
    visibility: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/*--------------------
    CUSTOM STYLES 
--------------------*/
[data-simplebar].navigation-widget {
    position: fixed;
}

[data-simplebar].navigation-widget .simplebar-scrollbar {
    right: 4px;
}

/* for cover photo in user profile section */
.cover_image {
    margin-top: 80px;
    width: 100%;
    height: 50%;
}

.back_color {
    background-color: rgb(4, 13, 21);
    /* height: 100px; */
}

.flex_follow {
    /* float: right; */
    margin-top: -420px;
    margin-right: 20px;

}

.cover_img {
    z-index: 0;
}

.follow_buttons {
    z-index: 1;
    color: aliceblue;
}

.follow_buttons a {
    z-index: 1;
    color: aliceblue;
}

.follow_buttons a:hover {
    color: yellow;
}

.profile_image {
    float: left;
}

.side_bar {}

.user_left_side_bar {
    float: left;
}

.user_side_bar {
    float: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 700px;

}

.suggested_users {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
}

.profile_data {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.image {
    /* float: left; */
    margin-right: 400px;
}

.name_clr {
    color: aliceblue;
    /* float: left; */
    margin-left: -370px;

}

.users_suggestions_child {
    /* it is only for large screens. it is not mobile responsive */
    /* margin-top: -1470px;  */
    margin-top: -1929px;
    position: sticky;
}

/* post detail page css */
/* post width */
.post_width {
    width: 450px;
}

.com_but_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment_button {
    width: 100px;
    height: 100%;
    background-color: #615dfa;
    color: aliceblue;
}

/* comment box with js */

.heading {
    color: #666666;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    color: #404040;
    background-color: #eee;
}

.container {
    width: 450px;
    margin-top: 20px;
}

.button-group {
    margin-bottom: 20px;
}

.counter {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
}

.posts {
    clear: both;
    list-style: none;
    padding-left: 0;
    width: 100%;
    text-align: left;
}

.posts li {
    background-color: #fff;
    border: 1.5px solid #d8d8d8;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    min-height: 42px;
    box-shadow: 8px 8px 5px #888888;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}



/* list of comments */

.avatar {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    font-size: 1.25rem;
}

.avatar-img,
.avatar-initials,
.avatar-placeholder {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.avatar-img {
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

.avatar-initials {
    position: absolute;
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    line-height: 0;
    background-color: #a0aec0;
}

.avatar-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    background: #a0aec0 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='%23fff' d='M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z'/%3e%3c/svg%3e") no-repeat center/1.75rem;
}

.avatar-indicator {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
    height: 20%;
    display: block;
    background-color: #a0aec0;
    border-radius: 50%;
}

.avatar-group {
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.avatar-group .avatar+.avatar {
    margin-left: -0.75rem;
}

.avatar-group .avatar:hover {
    z-index: 1;
}

.avatar-sm,
.avatar-group-sm>.avatar {
    width: 2.125rem;
    height: 2.125rem;
    font-size: 1rem;
}

.avatar-sm .avatar-placeholder,
.avatar-group-sm>.avatar .avatar-placeholder {
    background-size: 1.25rem;
}

.avatar-group-sm>.avatar+.avatar {
    margin-left: -0.53125rem;
}

.avatar-lg,
.avatar-group-lg>.avatar {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
}

.avatar-lg .avatar-placeholder,
.avatar-group-lg>.avatar .avatar-placeholder {
    background-size: 2.25rem;
}

.avatar-group-lg>.avatar+.avatar {
    margin-left: -1rem;
}

.avatar-light .avatar-indicator {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
}

.avatar-group-light>.avatar {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
}

.avatar-dark .avatar-indicator {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25);
}

.avatar-group-dark>.avatar {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25);
}

/* Font not working in <textarea> for this version of bs */

textarea {
    font-family: inherit;
}